.heart-rate {
  width: 185px;
  height: 83px;

  background: #ffcccd;
  border-radius: 20px;
}

.heart-rate-value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;

  color: #000000;
}
.stress-rate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;

  width: 185px;
  height: 83px;

  border-radius: 20px;

  background-color: #8198d1;

  color: whitesmoke;
}
